body {
  background: #fff;
  font-size: 18px;
}
.app {
  width: calc(100vw - 160px);
  height: 100vh;
  margin: 80px;
  h1,h2,h3 {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 2.8rem;
    line-height: 1.8rem;
  }
  h3 {
    font-size: 2.6rem;
    line-height: 1.6rem;
  }
  p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
    line-height: 1.6rem;
  }
  q {
    font-family: 'Permanent Marker', cursive;
    margin: 20px 0;
    display: block;
    font-size: 1.6rem;
    font-style: italic;
    line-height: 2.2rem;
    letter-spacing: 0.01rem;

    &:before {
      content: '"';
    }
    &:after {
      content: '"';
    }
  }
  nav {
    font-family: 'Amatic SC', cursive;
  }
  main {
    background: #fff;
    padding: 40px;
    min-height: 100vh; // todo: temporary, just for proof of concept
    margin-bottom: 400px;
  }
}